* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.container {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to top right, #20B2AA, #7B68EE);
	padding: 10px;
}

.todo {
	width: 100%;
	max-width: 540px;
	background-color: aliceblue;
	margin: 100px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
}

.todo h2 {
	display:flex;
	align-items: center;
	margin-bottom: 20px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #B0C4Dd;
	border-radius: 30px;
	padding-left: 20px;
	margin-bottom: 25px;
}

input {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	padding: 10px;
	font-size: medium;
}

/* Базовый стиль */
input.newTask {
  border: 2px solid grey;
  border-radius: 5px;
  outline: none;
  max-width: 290px;
	height: 28px;
  transition: border-color 0.3s ease;
	background-color: #ccc;
}

/* Эффект при фокусе */
input.newTask:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
	width: 150px !important;
}


button {
	border: none;
	outline: none;
	padding: 16px 50px;
	background: #7B68EE;
	color: #000;
	border-radius: 40px;
	font-size: medium;
	cursor: pointer;
}

.tasks {
	list-style: none;
	font-size: 17px;
	padding: 12px 8px 12px 50px;
	user-select: none;
	cursor: pointer;
	position: relative;
	display: flex;
}

.circle { 
	content: '';
	position: absolute;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-image: url(images/unchecked.png);
	background-size: cover;
	background-position: center;
	top:12px;
	left: 8px;
}

.circle.checked {
	background-image: url(images/checked.png);
}

p {
	padding-top: 3px;
}

p.checked {
	color: #555;
	text-decoration: line-through;
}

p.invis {
	display: none;
}

.editor { 
	content: '';
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-image: url(images/pencil.png);
	background-size: cover;
	background-position: center;
	top: 5px;
	right: 45px;
	text-align: center;
	line-height: 40px;
}

span {
	position: absolute;
	right: 0;
	top: 5px;
	width: 40px;
	height: 40px;
	font-size: 20px;
	color:#555;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
}

span:hover {
	background: #d4ccff;
} 


#list-container {
  background-color: #f5b3b3; /* Цвет фона контейнера */
  padding: 20px; /* Внутренний отступ */
  border-radius: 10px; /* Скругление углов */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Тень */
  margin: 0 auto; /* Центрирование по горизонтали */
}


#check {
  background-color: #c8fadf; /* Цвет фона контейнера */
  padding: 20px; 
  border-radius: 10px; /* Скругление углов */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Тень */
  margin: 0 auto; /* Центрирование по горизонтали */
}

.circle.invis {
	display: none;
}

